.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.body-news {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  width: 100vw;
}

.news {
  display: flex;
  height: 60vh;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 90vw;
}

.new {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px;
  padding: 2px;
  min-width: 31.8%;
}
