@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.notfound-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-error {
  font-family: 'Orelega One', cursive !important;
  font-size: 500%;
  margin: 0;
}
